.mainNav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: rgb(37, 38, 81);

    .logo{
        font-size: clamp(20px, 2vw, 30px);
        font-weight: bold;
        padding: 2px;
        cursor: pointer;
        
    }
}

.link{
    list-style: none;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

@media (max-width: 480px){
    .mainNav{
    padding: 6px 10px;

    .logo{
        font-size: clamp(16px, 2vw, 25px);
        font-weight: bold;
        padding: 2px;
        
    }
}

.link{
    list-style: none;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 12px;
    cursor: pointer;
}

}