
.mainList{
    padding-top: 40px;
    background-color: rgb(220, 187, 144);
}

.mainUserList{
    width: 100%;
    padding: 40px;
    display: flex;
    // grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    flex-wrap: wrap;

    
}

.title{
    text-align: center;
    }

// User style

.mainUserCard{
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(194, 226, 226);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(126, 119, 119);

    .userInfo{
        width: 100%;
        h1,h3{
            margin: 10px auto;
            color: rgb(30, 134, 226);
        }
    }

    .userDataAction{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 5px;


        button:hover{
            background-color: rgb(195, 195, 174);
        }
    }

}
        button{
            width: clamp(60px, 10vw, 100px);
            padding: clamp(3px, 2vw, 6px);
            margin: 10px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 15px;
            font-weight: bold;
            box-shadow: 1px 1px 10px rgb(232, 213, 213);
        }
    

// Add new user
.addUserMain{
    width: 100%;
    height: 90vh;
    background-color: rgb(220, 187, 144);
    padding: 30px ;


    Form, .view{
        width: clamp(400px,50vw,900px);
        background-color: rgb(194, 226, 226);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        margin: 20px auto;
        padding: 20px;

        h2,p{
            margin: 10px;
        }

        .dataForm{
            width: 100%;
            display: flex;
            flex-direction: column;

            padding: 10px;

            div{
                width: 100%;
                margin: 10px 0px;
                justify-content: center;
                display: flex;
                font-size: clamp(13px, 4vw, 20px);
                font-weight: bold;
                

                input{
                    width: clamp(300px, 40vw,600px);
                    padding:0px clamp(5px, 1vw, 10px);
                    font-size: clamp(10px, 2vw, 15px);
                    border-radius: 2px;
                    border: none;
                }
            }
        }

        .btnContainer{
            width: 100%;
            padding: 20px;
            display: flex;
            justify-content: center;
            border-radius: -23px;
        }


    }

    p{
        text-align: center;
        color: rgba(0, 0, 0, 0.584);
    }

}